<ion-header>
  <ion-toolbar color="tertiary" style="height: 80px;">
    <ion-buttons slot="end">
      <ion-button routerLink="/home" style="font-size: 28px;">
        <ion-icon slot="icon-only" name="person-circle-outline" style="font-size: 36px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 24px;">Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de usuarios -->
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2 style="font-size: 20px;">{{ usuario.nombre }}</h2>
        <p style="font-size: 16px;">{{ usuario.email }}</p>
        <p style="font-size: 16px;"><strong>Rol:</strong> {{ usuario.rol }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para agregar nuevo usuario -->
  <ion-button expand="full" color="primary" routerLink="/agregarnuevo">
    Agregar Nuevo Usuario
  </ion-button>
</ion-content>
