.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .qr-placeholder {
    width: 60px;
 
  }
  
  .qr-wrapper {
    width: 230px;
    min-height: 230px;
    background: var(--ion-color-tertiary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06509a;
  }
  
  ion-textarea {
    --highlight-color-valid: var(--ion-color-tertiary);
    text-align: start;
  }
  
  ion-button {
    text-transform: none;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ion-content {
    --background: transparent;
  }
  