.titulo{
  color:var(--ion-color-secondary);
}
.custom-alert .alert-wrapper {
  background-color: #f0f8ff;
  border-radius: 12px;
}

.custom-alert .alert-header {
  font-size: 20px;
  color: #007aff;
}

.custom-alert .alert-message {
  font-size: 16px;
  color: #333;
}
