/* Estilos generales */
ion-card {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

ion-card-header {
  background-color: #ffffff;
  text-align: center;
  padding: 16px;
}

.title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}

ion-card-content {
  padding: 20px;
}

ion-input {
  margin-bottom: 16px;
}

ion-input .input-native {
  font-size: 1rem;
  color: #333;
}

ion-input div[label] {
  font-size: 14px;
  color: #777;
}

ion-item {
  --background: #f9f9f9;
  --border-color: #ddd;
}

ion-button {
  --border-radius: 20px;
  --background: #007bff;
  --color: #ffffff;
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

ion-card .button-container ion-button {
  max-width: 300px;
  margin: 0 auto;
}

ion-text {
  color: var(--ion-color-danger);
}

/* Fondo y diseño de la página */
ion-content {
  --background: #f5f5f5;
}
